body{
  margin:0;
  min-height:100vh;
  font-family:'Poppins',sans-serif;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #312e81
  );

  color:white;
}

.card{
  background:rgba(255,255,255,0.08)!important;
  backdrop-filter:blur(15px);

  border:1px solid rgba(255,255,255,0.15)!important;

  border-radius:25px!important;

  color:white;

  transition:.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.form-control{
  background:rgba(255,255,255,.1)!important;

  border:none!important;

  color:white!important;
}

.form-control::placeholder{
  color:#ddd!important;
}

.btn{
  border-radius:15px!important;
}